.sideBar{
    position: fixed;
    width: 389px;
    min-height: 100vh;
    box-shadow: 0px 0px 20px 0px #00000026;
    padding: 20px 15px;
    transition: 2s;
}
.sideBar h1{
    color: #FFFFFF;
}
.sideBar select{
    background-color: inherit ;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    width: 359px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 12px;
    margin-top: 18px;
}
.sideBar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sideBar div button{
    background-color: inherit;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    margin-right: -55px;
}

.close{
    left: -389px;
}